body
{
	font-family : 'Segoe UI', Arial, sans-serif;
	text-align : center;
    min-height: 80svh;
}
h1, h2, h3, h4, h5, h6
{
	text-align : center;
	/*border : 5px outset blue;*/
    /*border-collapse: collapse;*/
	margin-left: 20px;
	margin-right: 20px;
}
table
{
	margin-right: auto;
	margin-left: auto;
    padding : 5px;
    text-align: center;
    border: 3px outset blue;
    border-collapse: collapse;
}
td
{
	border : 1px solid black;
	text-align: center
}
table>thead
{
	background-color: rgb(0,255,255);
}
table>thead>tr>td
{
	padding: 5px;
	border: 5px double blue;
	font-weight: bold;
	font-size: 150%;
}
table>tbody>tr>td
{
	padding:5px;
	border: 1px solid blue;
}
.success
{
	background-color: rgb(0,255,0);
}
.failure
{
	background-color:red;
	color:white;
}
.soldeNegatif
{
	font-weight: bold;
	color: red;
}
footer
{
	margin-top: 10px;
	font-style: italic;
	border: 1px solid black;
	box-shadow: 3px 3px 5px #888888;
}
.btnLogout
{
	position:absolute;
	top : 90px;
	left : 30px;
}
a {
    border: 1px black solid;
    padding: 8px;
    color: black;
}